<footer class="footer">
      <div class="container1">
        <div class="row1">
          <div class="footer-col">
            <h4>Browse</h4>
            <ul>
               <li><a href="/web/home">Home</a></li>
              <li><a href="/web/contact">Contact Us</a></li>
              <li><a href="/web/about">About</a></li>
              <li><a href="/web/faq">FAQs</a></li>
              <li><a href="#">Courses</a></li>
              <li><a href="/web/signin">sign In</a></li>
          
 
            </ul>
          </div>
           <div class="footer-col">
            <h4>Help</h4>
            <ul>
              <li><a href="#">Get Help</a></li>
              <li><a href="#">Order Status</a></li>
              <li><a href="#">Shipping and Delivery</a></li>
              <li><a href="#">Return</a></li>
              <li><a href="#">Order Cancellation</a></li>
              <li><a href="#">Payment Options</a></li>
              <li><a href="#">Gift Card Balance</a></li>
              <li><a href="#">Discounts</a></li>
            </ul>
          </div>
        
          <div class="footer-col">
            <div class="social-links">
             <h4>Follow Us</h4>
             
              <a href="https://www.facebook.com/search/top?q=nepathya%20college" target="_blank"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.tiktok.com/@nepathyacollege13?lang=en" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
         
              <a href="https://www.instagram.com/nepathyacollege/?hl=en" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
              <a href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Aorganization%3A90551630&keywords=nepathya%20college&origin=RICH_QUERY_SUGGESTION&position=0&searchId=753ce0e6-cb0c-42aa-850c-81b9369b2312&sid=Jdi&spellCorrectionEnabled=false" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

     <div class="logoo">
      <img  src="/assets/logo.jpg" width="100px">
</div>
      </div>
    </footer>

