{{>navbar}}

<div class="about_img1">
<img class="img_1" src="/assets/about1.jpg" alt="img">
</div>
<div class="abt_img_text1">
  <h2 class="about_h1"> About Nepathya </h2>
  <p>Welcome to Nepathya College, a leading institution of higher education in Nepal, dedicated to providing students with a transformative learning experience.

</p>
</div>

<div class="abt_img_text2">
  <h2 class="about_h1"> OUR MISSION </h2>
  <p>Within our walls and beyond, our mission is to passionately nurture an entrepreneurial spirit, instilling in our students not just knowledge but a transformative way of thinking.

Our focus lies in the meaningful difference we make through academic excellence and holistic development. We aspire to lead educational advancements with a deep-rooted dedication to shaping future leaders.

</p>
</div>
<div class="about_img3">
<img class="img_3" src="/assets/about_sanjeev.jpg" alt="">
</div>
<div class="abt_img_text3">
  <h2 class="about_h1">Voice From The Principal  </h2>
  <p>Nepathya College has always been committed to providing quality education and fostering an environment that nurtures intellectual growth, personal development, and a spirit of innovation. Our aim is to empower our students with knowledge, skills, and values that will enable them to become responsible global citizens and make a positive impact on society.

As the Principal of Nepathya College, I am honored to lead this vibrant and dynamic academic community. I encourage all students to make the most of their time at Nepathya College, embrace opportunities for personal growth, and actively contribute to the community. Remember, your education is not just a means to an end but a transformative journey that will shape your future.


Sanjeev Bhandari

Principal


</p>

</div>

<div class="text-4">
  <div class="min-class1">
  <h2 class="about_h1 border_title" >OUR VISION</h2>
  <p>Our vision is simple yet powerful: to be a catalyst for societal transformation through entrepreneurship. As we diligently strive to achieve this vision, our mission remains grounded in nurturing entrepreneurial minds, capable and eager to harness Nepal's abundant, yet untapped, resources.

We firmly believe education is a shared responsibility, a public asset, and thus we hold ourselves accountable to the communities we serve. Our educational philosophy, driven by progressiveness, revolves around the ‘Community as Curriculum’ approach, placing the needs and aspirations of our community at the heart of what we teach.

</p>
</div>
<div class="min_class2">
<h2 class="about_h1 border_title">OUR PHILOSOPHY</h2>
<p>We provide quality higher education, with a focus on entrepreneurship, as a vital social initiative. Collaboratively engaging with our community, we aim to drive positive change and contribute to the greater good. We hold ourselves accountable, collaborate with humility, empower with grace, innovate with joy, and above all, uphold firm integrity.

</p>
</div>

</div>

<div class="about_team">
  <h2 class="about_h1 team">Meet Our Team</h2>



  <div class="column">
    <div class="card">
      <img class="teams1" src="/assets/surajupreti.jpg" alt="chairman" style="width:100%">
      <div class="container">
        <h2>Suraj Upreti</h2>
        <p class="title">Chairman</p>
        <p>B.E./M.B.A</p>
        <p>suraj@example.com</p>
       <p><button class="button"  onclick="location.href='https://www.linkedin.com/in/suraj-upreti-05828b61?originalSubdomain=np'">Contact</button></p>
  
   
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="teams1" src="/assets/principle.jpg" alt="principle" style="width:100%">
      <div class="container">
        <h2>Sanjeev Bhandari </h2>
        <p class="title">Principal </p>
        <p>B.E/M.B.A/M.I.S</p>
         <p>bhandari@example.com</p>
        <p><button class="button" onclick="location.href='https://www.linkedin.com/in/sanjeev-bhandari-38610ab2/?originalSubdomain=np'">Contact</button></p>
      </div>
    </div>
  </div>

<div class="item1">
  <div class="column">
    <div class="card">
      <img class="teams1" src="/assets/vc.jpg" alt="vc" style="width:100%">
      <div class="container">
        <h2>Ananta Pandey</h2>
        <p class="title">Vice Principal</p>
        <p>M.E<p>
        <p>pandey@gmail.com</p>
        <p><button class="button" onclick="location.href='https://www.linkedin.com/in/anantapandey/?originalSubdomain=np'">Contact</button></p>
      </div>
    </div>
  </div>
  </div>

  <div class="item2">
  <div class="column">
    <div class="card">
      <img class="teams1" src="/assets/shivasir.jpg" alt="" style="width:100%">
      <div class="container">
        <h2>Shiva Bhattarai</h2>
        <p class="title"> Faculty Member</p>
        <p>M.sc IT<p>
        <p>shivabhattarai@gmail.com</p>
        <p><button class="button " onclick="location.href='https://www.facebook.com/civaz'">Contact</button></p>
      </div>
    </div>
  </div>
  </div>

  <div class="item3">
  <div class="column">
    <div class="card">
      <img class="teams1" src="/assets/pooja mam.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Pooja Sharma </h2>
        <p class="title">Faculty Member </p>
        <p>Msc(CSIT)<p>
        <p>pooja@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  </div>
  <div class="item4">
  <div class="column">
    <div class="card">
      <img class="teams1" src="/assets/promod chaudhary.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Promod Chaudhary</h2>
        <p class="title">Lab Technician</p>
        <p>BBS<p>
        <p>chaudahari@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  </div>
  
</div>

