{{>navbar}}
<div class="bca_img1">
    <img src="/assets/bca_page121.jpg" alt=" bca">

</div>

<div class="bca_text1">
    <div class="bca_h1">BCA at Trivuwan University</div>
    <div  class="bca_p">All our courses are based on a continuous assessment system where every week, you will be engaging in class & online discussions, writing papers and doing presentations alongside your course projects.</div>

    <div class="bca_course">
        <div class="courses">
<div class="bca_credit_hrs">126</div>
<div class="duration1">Credit Hours</div>

</div>
<div class="duration">
<div class="bca_credit_hrs">4 Years</div>
<div  class="duration">Duration</div>
</div>
</div>
</div>
<h1 class="bca_container">100% Result</h1>
<div id="bca_scholarship">
<img class="scolar_img"src="/assets/bca_acievment.jpg" alt="">
<img  class ="scolar_img" src="/assets/bca_achievment_4.jpg" alt="">

</div>
<div class="bca_link">
<img src="/assets/bca_link.jpg" alt="">
</div>
 <div class="bca_text2">
    <h1 class="bca_scohlor_h1">FIND THE BEST
BCA COURSE FOR YOU
</h1>
<p class="bca_p">Discover your passion with a range of options in core IT, Software Engineering, IT Management, Data Science, and more.

Find the program that aligns with your interests and career goals and take the first step towards a successful future.
</p>

<div class="bca_a">
<a  href="/web/contact">APPLY NOW</a>
 </div></div>


<div class="bca_text3">
    <h1 class="bca_scohlor_h2">LIFE AT Nepathya </h1>
    <b class="bca_talla">OUR STUDENTS</b>
</div>

<p class="bca_talla_p">Empowering Minds, Inspiring Futures: Unleash Your Potential at Kings College Nepal, where academic excellence meets transformative experiences, shaping tomorrow's leaders with a global perspective.</p>

</div>
{{>footer}}





