
{{>navbar}}

    
  <h3 class="FAQ">Contact Us</h3>

  <h5 class="sub">We will be happy to help you!</h5>
<div class="form">
  <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">FirstName</label >
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your firstname" >
    <label for="exampleInputEmail1" class="form-label">LastName</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your lastname" >
    <label for="exampleInputEmail1" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Phone</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
  </div>
  <label for="inputMessage" class="form-label">Message</label>
  <input type="message"> 

<button type="submit" class="btn btn-primary"> Submit</button>
</form>
</div>
<div class="contact_1">
  <H2 class="bca_h1">GET IN TOUCH WITH US</H2><br>
  <p class="bca_p">We'd love to hear from you! <br> <br>

Whether you have a specific enquiry or you just want to receive more information.<br> <br>
<b>Manigram, Tilottama-5, Rupandehi, NP </b><br> <br>

<i class="fa-solid fa-phone"></i> 071562537, 9857034838, 9857012847, 9846970252<br>
<i class="fa-solid fa-message"></i> info@nepathyacollege.edu.np</p>
</div>
  <div class="location">
<p class="p_frame">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.969393496897!2d83.46792817525085!3d27.62848347622788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39968432be835a0b%3A0x9050d582cdb10658!2sNepathya%20College!5e1!3m2!1sen!2snp!4v1719116341777!5m2!1sen!2snp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</p>
</div>

{{>footer}}