{{>navbar}}
<h3 class="FAQ">Frequently Asked Questions (FAQ)</h3>
<div class="button">
<button type="button" class="btn btn-secondary" onclick=FAQ_answer("box_1") >What facilities are available?</button>
<div id="box_1" class="boxes">
The college offers programs such as BSC. CSIT, BCA with Highly qualified teachers and trainers guide students towards betterment.
</div>
</div>

<div class="button">
<button type="button" class="btn btn-secondary" onclick=FAQ_answer("box_2")>How can I apply for admission?</button>
<div id= "box_2" class="boxes">

To apply for admission, interested candidates can find the online application form on our website during the admission period. The detailed admission process, eligibility criteria, and important dates will be provided on respective courses page.

</div></div>
<div class="button">
<button type="button" class="btn btn-secondary" onclick=FAQ_answer('box_3')>Does the college provide internship and placement opportunities?</button>
<div id= "box_3" class="boxes">
 
Yes, the college does provide internship and placement opportunities. The college has signed multiple MoUs with software companies to collaborate such as teaching point, bootwalR&D, etc.
</div></div>
<div class="button">
<button type="button" class="btn btn-secondary" onclick=FAQ_answer("box_4")>Are scholarships available for students?</button>
<div id= "box_4" class="boxes"> 
Yes, scholarships are available for students. In the initial phase, one girl and one boy receive scholarships. After the completion of the 1st semester exam, scholarships are provided based on final exam performance.</div>

</div>



</body>
</html>